<?xml version="1.0"?>
<ruleset name="Dot">
    <description>Dot coding standard</description>

    <!-- Output -->
    <arg value="p"/>
    <arg name="colors"/>

    <!-- Rules -->
    <rule ref="PSR12"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="PHPCompatibility"/>

    <!-- Check compatibility against the minimum supported PHP version -->
    <config name="testVersion" value="7.4-"/>

    <!-- File extensions -->
    <arg name="extensions" value="php"/>

    <!-- Include paths -->
    <file>src</file>
    <file>tests</file>
</ruleset>
